//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import "defaults";

/* Layout -------------------------------------------------------------- */

@include susy;
@import "compass/css3/border-radius";

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
.container {
  @include container;
  //@include show-grid("/images/grid.png");
  @include alpha;
}

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width,
// and 20 is the (optional) line-height.

/* Styles -------------------------------------------------------------- */

header h1 {
  @include leader(4, 32px);
  @include adjust-font-size-to(32px); }

header h3 {
  font-style: italic;
  font-weight: normal; }

header h2 {
  @include leader(3); }

pre {
  @include leader(2);
  @include trailer(2);
  @include border-radius($base-line-height, $base-line-height);
  padding-top: $base-line-height;
  padding-bottom: $base-line-height;
  background-color: #333333; }
